---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Anjana Kuiri";
---
<Layout pageTitle={pageTitle}>
    <h1>Dr. Anjana Kuiri</h1>
    <span class="badge">Gold Medalist in M.Sc Mathematics, Ph.D. in Operations Research | Data Scientist</span>
    
    
    <h2>About</h2>
    <p>
        As an accomplished Operational Research (OR) expert holding a Ph.D. in the field,
        I bring a wealth of experience and a strong foundation in mathematics,
        evidenced by my M.Sc in Mathematics. My proficiency in applying mathematical
        and statistical methods to address and resolve challenges in complex system operations and 
        management sets me apart. Fueled by a profound passion for Mathematics, I have delved deeply 
        into various mathematical disciplines, including Algebra, Calculus, and Geometry, enriching my skill set and perspective in OR.
    </p>
    <p>
        My comprehensive background positions me ideally for a diverse array of roles within Operational Research.
        I am dedicated to leveraging my expertise to contribute positively to the field and am keen on furthering my growth and development in this dynamic domain.
    </p>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="AWS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Atom" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/atom/atom-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Atom" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Atom" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/canva/canva-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Atom" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Atom" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pycharm/pycharm-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/latex/latex-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I'm a person who finds joy in the melodies of a piano, 
        the unconditional love of animals, and the fascinating world of data analysis. 
        My life is a blend of artistic expression, empathy for living beings,
        and a quest for understanding through data. Each interest enriches my experience, 
        allowing me to explore the depths of creativity, nurture compassion, 
        and embrace the complexities of the world with an analytical mind.
    </p>
</Layout>



          