<div class="navbar">
    <div class="navbar__menu">
        <a href="https://www.researchgate.net/profile/Anjana-Kuiri" target="_blank">ResearchGate</a>
        <a href="https://scholar.google.com/citations?user=sKlsNCwAAAAJ&hl=en" target="_blank">Google Scholar</a>
        <a href="https://linktr.ee/anjanakuiri" target="_blank">Linktree</a>
        <a href="https://github.com/anjanakuiri" target="_blank">GitHub</a>
    </div>
</div>

